[submodule "src-thrift/thrift"]
	path = src-thrift/thrift
	url = https://github.com/apache/thrift.git
[submodule "src-thrift/hive"]
	path = src-thrift/hive
	url = https://github.com/apache/hive.git
[submodule "src-thrift/impala"]
	path = src-thrift/impala
	url = https://github.com/apache/impala.git
